{% load static %}
<nav class="fixed top-0 left-0 bg-white w-screen h-12 z-40 flex flex-row justify-between bg-opacity-70 backdrop-blur-md shadow-sm shadow-slate-300/40">

    <div class="w-full relative flex items-center justify-center">

        <img src="{% static './logo/logo.png' %}" alt="logo" class="h-8 hidden lg:block absolute top-2 left-8 lg:left-16">
        <a href="/">
            <h1 class="text-2xl font-semibold bg-gradient-to-tr from-teal-500 via-cyan-500 to-pink-500 text-transparent bg-clip-text">DLISc Elections</h1>
        </a>
    </div>

</nav>